.salesWrapper {
	display: flex;
	min-width: 100vh;
	max-height: 100vh;
}

.salesContainer {
	content: "";
	flex: 10;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.salesContent {
	position: relative;
	top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.salesTable {
	width: 100%;
	max-width: 1200px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
}

th {
	background-color: rgb(77, 170, 87);
	color: rgb(255, 255, 255);
	font-weight: 600;
}

td {
	color: rgb(28, 55, 32);
}

.saleDisplay:nth-child(even) {
	background-color: rgb(249, 249, 249);
}

.saleDisplay:hover {
	background-color: rgba(179, 238, 185, 0.945);
	transition: background-color 0.3s ease;
}

.productSalesName {
	font-size: 18px;
	font-weight: 500;
	color: rgb(77, 170, 87);
	margin: 0;
}

.SaleQty,
.salePrice,
.saleDate {
	font-size: 16px;
	color: rgb(77, 170, 87) 3;
}

.salePrice {
	color: rgba(34, 102, 40, 0.877);
	font-weight: 600;
}

.saleDate {
	color: #757575;
}

.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 10px 0;
}

.pagination li {
	margin: 0 5px;
	padding: 5px 10px;
	cursor: pointer;
	color: rgb(28, 55, 32);
}

.pagination li:hover {
	background: rgba(77, 170, 86, 0.612);
	color: white;
	font-weight: 600;
	border-radius: 5px;
}

.activePage {
	background: rgb(77, 170, 87);
	border-radius: 5px;
	color: rgb(28, 55, 32);
	font-weight: bold;
}
