.forgotPasswordWrapper,
.resetPasswordWrapper,
.changePasswordWrapper {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("Images/background image.png");
	background-position: center;
	background-repeat: no-repeat, repeat;
	background-size: cover;
	max-width: 100%;
	height: auto;
}

.Container {
	position: absolute;
	top: 30vh;
	left: 30vh;
	width: 100%;
	max-width: 400px;
	margin: auto 0px;
	padding: 60px;
	border-radius: 10px;
	background: white;
	box-shadow: 0 2px 6px rgba(77, 170, 86, 0.767);
}

.headings h2 {
	font-family: "Inter", sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: rgba(77, 170, 86);
	margin-bottom: 10px;
}

.name span {
	margin-top: 30px;
}

.headings p {
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #555;
	margin-bottom: 30px;
	text-align: center;
}

.inputWrapper {
	margin-bottom: 20px;
}

.inputForm {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.inputForm label {
	font-size: 14px;
	color: #333;
	margin-bottom: 5px;
}

.inputForm input {
	padding: 10px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border 0.3s ease;
}

.inputForm input:focus {
	border: 1px solid rgb(77, 170, 87);
	outline: none;
}

.errorMessage {
	font-size: 12px;
	color: red;
	margin: 10px 0px;
}

.successMessage {
	font-size: 12px;
	color: rgb(77, 170, 87);
	margin-top: 5px;
}

.btn {
	margin-top: 20px;
}

.Container .icon {
	color: #2e2e3f;
	margin-right: 5px;
}

.forgotPasswordBtn,
.resetPasswordBtn {
	width: 100%;
	padding: 12px;
	background-color: rgb(77, 170, 87);
	color: white;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.forgotPasswordBtn:hover,
.resetPasswordBtn:hover {
	background: #3d924d;
}

.BackToLogin {
	display: block;
	text-align: center;
	margin-top: 20px;
	color: rgb(77, 170, 87);
	text-decoration: none;
	font-size: 14px;
}

.BackToLogin:hover {
	text-decoration: underline;
}
