.homeWrapper {
	position: absolute;
	top: 70px;
	left: 420px;
	display: flex;
	min-width: 100%;
	min-height: 100vh;
}

.homeContainer {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(226, 225, 225, 0.637);
	width: 80%;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 97px;
	border-radius: 5px;
	background-color: #f8f9fa;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	background-image: url("Images/display.jpg");
	background-position: center;
	background-repeat: no-repeat, repeat;
	background-size: cover;
	width: 75%;
	margin: 20px 0px;
}

.searchSlogan {
	position: relative;
	right: 70px;
	bottom: 50px;
}

.searchSlogan p {
	font-size: 18px;
	margin: 10px 3px;
	color: rgb(28, 55, 32);
}

.searchIcon {
	position: relative;
	top: 8vh;
	right: 60vh;
	color: grey;
	z-index: 1;
}

.filter {
	position: relative;
	top: 8vh;
	right: 65vh;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background: white;
	width: 450px;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter input {
	border: none;
	width: 340px;
	height: 50px;
	color: rgb(28, 56, 32);
	font-size: 18px;
}

.filter input::placeholder {
	font-size: 15px;
	color: grey;
}

.noResult {
	margin: auto;
	font-size: 1.5rem;
	color: grey;
}

.productCard {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	border-radius: 5px;
	gap: 20px;
	width: 90%;
	margin-top: 20px;
}

.productDisplay {
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s, box-shadow 0.2s;
	background: white;
	width: 250px;
	height: 280px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productDisplay:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image {
	position: relative;
	top: 10px;
	width: 82%;
	height: 65%;
	border-radius: 4px;
	cursor: pointer;
}

.imageDetails {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 15px;
	left: 5px;
	width: 90%;
}

h3 {
	display: flex;
	justify-content: space-between;
}

.imageDetails h3,
p {
	cursor: pointer;
	margin: 3px 10px;
}

.imageDetails .ProductName {
	color: rgb(28, 55, 32);
}

.imageDetails h3 {
	font-size: 15px;
	color: rgb(77, 170, 87);
}

.imageDetails p {
	color: rgb(77, 170, 87);
}

.addToCart {
	border: none;
	color: rgb(28, 56, 32);
	font-weight: 600;
	background: none;
	font-size: 15px;
}

.addToCart:hover {
	border-radius: 5px;
	padding: 5px;
	background: rgba(77, 170, 86, 0.878);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: #f8f9fa;
	cursor: pointer;
	font-weight: 600;
}

.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 10px 0;
	position: relative;
	top: 10px;
	margin: auto;
}

.pagination li {
	margin: 0 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.pagination li:hover {
	background-color: #f1f1f1;
}

.activePage {
	background-color: #4daa57;
	border-radius: 5px;
	color: rgb(28, 55, 32);
	font-weight: bold;
}
