.menu {
	width: 420px;
	background: #f8f9fa;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sideNav {
	width: 350px;
	display: flex;
	flex-direction: column;
	height: 90.5vh;
}

.logo img {
	width: 350px;
	height: 250px;
}

.logout {
	margin-top: auto;
}

.btn,
.LogoutBtn {
	display: flex;
	align-items: center;
	width: 300px;
	height: 90px;
	gap: 10px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 20px;
	border: none;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	color: rgb(28, 56, 32);
	background-color: #f8f9fa;
}

.LogoutBtn {
	position: absolute;
	top: 105vh;
}

.btn:hover,
.LogoutBtn:hover {
	background: rgb(77, 170, 87);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: #f8f9fa;
	cursor: pointer;
	font-weight: 600;
}

.navIcons {
	font-size: 24px;
	font-weight: 10px;
	margin-right: 10px;
}
