.detailsWrapper {
	display: flex;
	min-height: 100vh;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
	padding: 0 60px;
}

.detailsContainer span {
	position: absolute;
	top: 20px;
	font-size: 30px;
}

.producImage {
	position: relative;
	left: 20vh;
}

.producImage .image {
	position: relative;
	width: 70vh;
	height: 60vh;
	text-align: center;
}

.image {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.productDetails {
	position: absolute;
	top: 50px;
	width: 100%;
}

.productTitle {
	font-size: 24px;
	margin: 15px 0;
	color: #333;
}

.productPrice {
	font-size: 20px;
	font-weight: bold;
	color: #28a745;
	margin: 0px;
}

.productCategory {
	font-size: 17px;
	font-weight: 600;
	margin: 10px 0;
	color: #666;
}

.productSales {
	width: 50%;
	padding: 30px;
	text-align: center;
	border-radius: 10px;
}

.Sale {
	box-shadow: 0 2px 6px rgba(77, 170, 86, 0.767);
}
