.detailsWrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f2f2f2;
}

.detailsContainer {
	flex-grow: 1;
	padding: 25px;
	width: 50vw;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 10vh;
	left: 50vh;
}

.totalSales {
	padding: 25px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	position: absolute;
	right: 30px;
	width: 300px;
	height: 351px;
	margin: 10px 0;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: rgb(28, 55, 32);
}

.totalProducts {
	margin-top: 60px;
}

.totalSales h2,
.totalProducts h2 {
	margin-top: 10px;
}

.totalSales {
	top: 85px;
}

.totalProducts {
	top: 300px;
}

hr {
	width: 150px;
	color: rgb(28, 55, 32);
}

.closeBtn {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 30px;
	cursor: pointer;
	font-size: 2rem;
}

.productImage {
	display: flex;
	gap: 30px;
}

.productImage .image {
	display: flex;
	gap: 30px;
	height: auto;
	border-radius: 10px;
}

img {
	border-radius: 10px;
}

.productDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.productTitle {
	font-size: 1.75rem;
	color: #333;
	margin: 0 0 10px;
}

.productPrice {
	font-size: 1.5rem;
	color: rgb(77, 170, 87);
	margin: 5px 0;
	font-weight: 600;
}

.productCategory {
	font-size: 1.5rem;
	color: #888;
	margin: 15px 0px;
}

.tableContainer {
	max-height: 550px;
	overflow-y: auto;
	margin-top: 20px;
	width: 100%;
	max-width: 1010px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background: white;
	position: absolute;
	left: 50vh;
	top: 500px;
	right: 0;
	z-index: 2;
}

.summaryTable {
	width: 100%;
	border-collapse: collapse;
}

.summaryTable th,
.summaryTable td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.summaryTable thead th {
	background: rgb(77, 170, 87);
	font-weight: bold;
}

.summaryTable tbody tr:hover {
	background-color: #f1f1f1;
}

.summaryTable thead,
.summaryTable tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.tableContainer::-webkit-scrollbar {
	width: 10px;
}

.tableContainer::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
