.registerWrapper {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("Images/background image.png");
	background-position: center;
	background-repeat: no-repeat, repeat;
	background-size: cover;
	max-width: 100%;
	height: 10vh;
}

.formContainer {
	position: absolute;
	left: 200px;
	width: 30%;
	padding: 40px;
	border-radius: 10px;
	background: white;
	box-shadow: 0 2px 6px rgba(77, 170, 86, 0.767);
}

.headings {
	text-align: left;
	margin-bottom: 30px;
}

h2 {
	font-family: "Inter", sans-serif;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: rgb(77, 170, 87);
	margin-bottom: 10px;
}

.headings p {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #2e2e3f;
	margin-bottom: 30px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-width: 550px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
}

::placeholder {
	color: #bfbfc1;
	font-size: 12px;
	padding-left: 8px;
}

.inputContainer label {
	font-size: 14px;
	font-weight: 500;
	color: #2e2e3f;
}

.inputContainer input {
	width: 530px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	margin-top: 5px;
	border: 1px solid #ccc;
}

.flexContainer {
	display: flex;
	justify-content: space-between;
}

.flexContainer input {
	padding: 10px;
	width: 250px;
	border: none;
	border-radius: 4px;
	margin-top: 5px;
	margin-right: 10px;
	gap: 20px;
	border: 1px solid #ccc;
}

.smallInput {
	display: flex;
	background: white;
	border: none;
	border-radius: 4px;
	padding: 10px;
	width: 270px;
	color: #bfbfc1;
	font-size: 12px;
	margin-top: 5px;
	margin-right: 10px;
}

.hide {
	color: #f2f2f2;
}

.registerBtn {
	width: 47%;
	padding: 12px;
	margin-right: 15px;
	background-color: rgb(77, 170, 87);
	color: white;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.registerBtn:hover {
	background: #3d924d;
}

.loginBtn {
	width: 47%;
	padding: 12px;
	background-color: rgb(77, 170, 87);
	color: white;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.loginBtn:hover {
	background: #3d924d;
}

.errorMessage {
	font-size: 12px;
	font-weight: 500;
	color: red;
	margin-top: 5px;
}

.successMessage {
	font-size: 12px;
	font-weight: 500;
	color: green;
	margin-top: 5px;
}
