.menu {
	width: 420px;
	background: #f8f9fa;
	content: "";
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.sideNav {
	width: 350px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

.logo img {
	width: 300px;
	height: 150px;
	margin-bottom: 30px;
}

.logout {
	margin-top: auto;
}

.btn {
	display: flex;
	align-items: center;
	width: 300px;
	height: 90px;
	gap: 10px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 20px;
	border: none;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	color: black;
	background-color: #f8f9fa;
}

.btn:hover,
.logout:hover {
	background: rgb(77, 170, 87);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: #f8f9fa;
	cursor: pointer;
	font-weight: 600;
}

.navIcons {
	font-size: 24px;
	font-weight: 10px;
	margin-right: 10px;
}
